<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Swarm Agent API{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <nav class="bg-white shadow-lg">
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
          <div class="flex space-x-7">
            <div>
              <a href="/" class="flex items-center py-4 px-2">
                <span class="font-semibold text-gray-500 text-lg"
                  >Swarm Agent API</span
                >
              </a>
            </div>
            <div class="hidden md:flex items-center space-x-1">
              <a
                href="/"
                class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300"
                >Home</a
              >
              <a
                href="/agents"
                class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300"
                >Agents</a
              >
              <a
                href="/run"
                class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300"
                >Run Agent</a
              >
              <a
                href="/agent-connections"
                class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300"
                >Agent Connections</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container mx-auto mt-8 px-4">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
